# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

Expected output:

>
>|    |   InvoiceNo |   StockCode |   year |   month |   day |   hour | Description                     |   Quantity | InvoiceDate         |   UnitPrice |   CustomerID | Country        |   amount_spent |
|---:|------------:|------------:|-------:|--------:|------:|-------:|:--------------------------------|-----------:|:--------------------|------------:|-------------:|:---------------|---------------:|
|  0 |      546084 |       22741 |   2011 |       3 |     3 |     11 | funky diva pen                  |         48 | 2011-03-09 11:28:00 |        0.85 |        14112 | United Kingdom |          40.8  |
|  1 |      545906 |       22557 |   2011 |       3 |     2 |      9 | plasters in tin vintage paisley |         12 | 2011-03-08 09:23:00 |        1.65 |        15764 | United Kingdom |          19.8  |
|  2 |      539475 |       22176 |   2010 |      12 |     7 |     14 | blue owl soft toy               |          1 | 2010-12-19 14:41:00 |        2.95 |        16686 | United Kingdom |           2.95 |
|  3 |      572562 |       21889 |   2011 |      10 |     2 |      9 | wooden box of dominoes          |         12 | 2011-10-25 09:07:00 |        1.25 |        13481 | United Kingdom |          15    |
|  4 |      549372 |       72741 |   2011 |       4 |     5 |     11 | grand chocolatecandle           |          9 | 2011-04-08 11:28:00 |        1.45 |        14958 | United Kingdom |          13.05 |

In [2]:
orders = pd.read_csv('data/orders_sample.csv')
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InvoiceNo     20000 non-null  int64
 1   StockCode     20000 non-null  object
 2   year          20000 non-null  int64
 3   month         20000 non-null  int64
 4   day           20000 non-null  int64
 5   hour          20000 non-null  int64
 6   Description   20000 non-null  object
 7   Quantity      20000 non-null  int64
 8   InvoiceDate   20000 non-null  object
 9   UnitPrice     20000 non-null  float64
 10  CustomerID    20000 non-null  int64
 11  Country       20000 non-null  object
 12  amount_spent  20000 non-null  float64
dtypes: float64(2), int64(7), object(4)
memory usage: 2.0+ MB

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
customers = orders.groupby(['CustomerID'], as_index=False).agg({'amount_spent':'sum'})

In [4]:
vip = customers[(customers['amount_spent'] > customers['amount_spent'].quantile(.97))]
cond1 = customers['amount_spent'].quantile(.79) < customers['amount_spent']
cond2 = customers['amount_spent'] < customers['amount_spent'].quantile(.97)
preferred = customers.loc[((cond1) & (cond2))]
preferred

      CustomerID  amount_spent
0          12347        149.90
6          12356        161.88
7          12357        264.30
8          12359        324.85
10         12362        397.13
...          ...           ...
3297       18229        442.04
3308       18245        143.30
3310       18251        252.00
3320       18272        265.50
3325       18287        209.52

[599 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [5]:
vip_country = pd.Series([orders['Country'][i] for i in vip['CustomerID']])
vip_country.value_counts()

United Kingdom    84
Germany            5
France             3
Australia          2
EIRE               2
Italy              1
Belgium            1
Netherlands        1
Norway             1
dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [6]:
preferred_country = pd.Series([orders['Country'][i] for i in preferred['CustomerID']])
preferred_country.value_counts()

United Kingdom     528
EIRE                13
Germany             12
France              11
Spain                7
Belgium              5
Switzerland          4
Netherlands          4
Portugal             3
Singapore            2
Italy                2
Norway               2
Channel Islands      1
Finland              1
Israel               1
Greece               1
Poland               1
Australia            1
dtype: int64

In [7]:
pd.concat([vip_country,preferred_country]).value_counts()

United Kingdom     612
Germany             17
EIRE                15
France              14
Spain                7
Belgium              6
Netherlands          5
Switzerland          4
Australia            3
Italy                3
Norway               3
Portugal             3
Singapore            2
Channel Islands      1
Israel               1
Poland               1
Finland              1
Greece               1
dtype: int64